{% extends "layout.html" %}

{% block content %}

<h1>Para hacer una aplicación web sencilla utilizando Flask y Python, seguimos básicamente
    los pasos siguientes:

    <br><br>- Primero, debemos asegurarnos de tener <b>Python</b> instalado en la computadora. Luego, 
    instalar <b>Flask</b> utilizando el comando pip en la terminal.

    <br>- Procedemos luego a crear un archivo de Python en VS Code y nombrarlo (Nombre_cualquiera).py. 
    En este archivo, comenzamos importando Flask y creando una instancia de la aplicación:
    
    <br>- Finalmente guardamos el archivo y lo ejecutamos en la terminal utilizando el comando 
    python (Nombre_cualquiera).py. Flask iniciará un servidor local y podremos acceder a la 
    aplicación web en nuestro navegador ingresando la URL <u>http://localhost:5000/</u>.
    ¡Listo! Ahora poseemos una aplicación web sencilla utilizando Flask y Python.
    Claro que podemos añadir <b>más rutas, templates HTML, estilos CSS y funcionalidades adicionales</b> 
    para personalizar y mejorar la aplicación web. (que es lo que hicimos justamente)

    <br><br><b>(Mayores detalles en el proyecto en látex y el código subido a GitHub)</b>
    </h1>

{% endblock%}