{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4"><b><u>Qué tal, profesor Américo</u>!</b></h1>
    <p class="lead">Esta es básicamente nuestra aplicación/página web como resultado del uso de <i><b>Flask</b></i> 
      (framework sencillo y flexible para los usuarios) y <i><b>Python</b></i>, espero le agrade.</p>
    <hr class="my-4">
    <p>Muchas gracias por el conocimiento brindado a nuestras personas en las prácticas del curso 
      <i><b>Fundamentos de programación.</b></i></p>
    <a class="btn btn-primary btn-lg" href="#" role="button"><b>Nos veremos pronto</b></a>
  </div>

{% endblock%}